.login--form__container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 6px;
    padding: 10vw;
    color: rgb(59, 59, 59);
}
/* .login--form__container form label{
width: 90vw;
} */
.login--form__container form input{
    width: calc(100% - 15px);
    margin: 5px 0px 4px 0px; 
    padding: 5px;
    border-radius: 6px;
    font-size: 1.2rem;
    border: 1px solid #66666652;
    
}
.login--form__container form input:focus{
    border: 1px solid #00000000;
}
.login--form__container form button{
    width: 100%;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #3483fa ;
    border-radius: 6px;
    color: beige;
    background-color: #3483fa;
    margin-top: 10px;
}
.login--form__container p{
    color: red;
    text-align: center;

}
.login--form__container span{
    color: #3483fa;
}
.login--form__container br{
    margin-bottom: 20px;
}
.login--form__container form .login--form__register{
    color: #3483fa;
    background-color: #ffffff;
}
@media(min-width:800px){
    .login--form__container{
        width: 600px;
        margin: 0 auto;
        height: 80vh;
        display: flex;
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
    .login--form__container form{
        padding: 2vw;
        background-color: white;
        border-radius: 5px;
    }
}