.nav__container{
    background-color: #fff159;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto,3);
    gap: 20px;
    padding: 10px;
    /* grid-template-rows: repeat(auto,3); */
}
.comerce__icon{
    height: 40px;
}

.nav__buttons-container{
    grid-column: 3/4;
    display: flex;
    /* flex-direction: row; */
    /* width: min-content; */
    justify-content: space-around;
    flex-direction: row;
    /* height: 50px; */

    /* place-items: center; */

    /* flex-direction: column; */
}
.nav_button{
    border: none;
    background-color: #00000000;
}