.main__container{
    background-color: #ebebeb;
}
@media(min-width:800px){
    .main__container{
        /* position: relative; */
    }
    .main_products{
        /* margin-top: -200px; */
        /* position: ; */
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
}