.mobile-menu__background{
    background-color: rgba(0, 0, 0, 0.767);    
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
}

.mobile-menu__container{
    top: 0;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: white;
}
.mobile-menu__container a{ /* estilos de etiquetas Links */
    text-decoration: none;
}
.mobile-menu__user{
    /* background-color: ; */
    /* border: 2px solid #fff159; */
    /* color: #fff159; */
    color:#696969 ;
    background-color: #fef9c3;
    /* background-color: rgb(231, 231, 231); */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,50px);
}
.mobile-menu__user-img{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    border-radius: 50%;
    border: 3px solid #fff159 ;
    margin: 10px;
}
.mobile-menu__username-link{
    color:white;
    grid-row:1/3;
    align-self:center; 
    /* border: 2px solid #3483fa; */
    padding: 5px;
    background-color: #3483fa;
    border-radius: 5px;
    text-align: center;
}
.mobile-menu__username-button{
    color: aliceblue;
    background-color: #00000000;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
}
.mobile-menu__username{
    grid-column: 2/4;
    font-size: 1.4rem;
    bottom: 0;
}
.mobile-menu__user-profile{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #00000000;
    border: none;
    color: #003cb5;
    font-size: 1.2rem;


}
.mobile-menu__options button{
    width: 100%;
    border: none;
    border-bottom: 1px solid #69696921;
    height: 50px;
    background-color: #00000000;
}
.mobile-menu__options .mobile-menu__logout-button{
    background-color: rgb(255, 240, 240);
    color: rgb(255, 123, 123);
}