.product__container{
    padding: 0px 10px;
    /* background-color: #1f2937; */
    /* background-color: #d1d5db; */

    /* color: #d1d5db; */
}
header{
    width: 100%;
    display: flex; 
    flex-direction: row; 
    align-items: center;
     justify-content: space-between;
}
header .porduct--qualification__container{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    padding-top: 10px;
}
header .porduct--qualification__container svg{
 padding: 0;
}


.product__title{
    /* color: brown; */
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
}
.product--img__contiainter{
    width: 100%;
    background-color: #d1d5db;
    height: 100%;
}
.prodcut__favorite-button{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 20px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 50%;
}
.prodcut__favorite-button svg{
    width: 30px; 
    height: 30px; 
}
.product--img__contiainter .product__img{
    width: 100%;
}
.prodcut__price{
    /* color: green; */
    font-weight: 400;
    font-size: 2rem;
    margin: 10px 0 ;
}
.product__shipment--container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.prodcut__shipment{
    margin: 0;
}
.product__stock{
    margin: 5px 0;
}
.btn{
    width: 95vw;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
}
.btn__buy{
    color: beige;
    background-color: #003cb5;
    /* margin: 30px; */
    margin-bottom: 10px;
    border: 2px solid  #2a8ddc;
    font-weight: 600;

}
.btn__cart{
    color: #2a8ddc;
    background-color: beige;
    border: 2px solid  #2a8ddc;
}
.product__input--container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.product__input--container p{
    font-size: 2.4rem;
    margin: 0;
    padding-bottom:5px ;
}
.product__input--quantity{
    width: 50px;
    height: 30px;
    font-size: 1.3rem;
    border-radius: 5px;
}

.product__description--title{
    font-weight: 600;
    font-size: 1.1rem;
    margin: 10px 0px 3px 0px;
}
.porduct__seller{
    margin-top: 20px;
    padding: 0;
    
}
/* .product__description--content{
    margin: 0;
} */
