
.UserCartPage {
    width: 65vw;
    margin: auto;
    border-radius: 5px;
    background-color: white;

    box-shadow: 0px 10px 10px rgb(196, 196, 196);
    padding-bottom: 1vw;
    /* margin: auto; */
    
}
