.NewProdcutPage section {
  padding: 5px 5px 5% 5px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(190, 190, 190);
  box-shadow: 0px 10px 10px rgb(238, 238, 238);
}

.new-product__name-input {
  width: calc(90% - 5px);
  border: none;
  border-bottom: 1px solid gray;
  margin-left: 5%;
}

.new-product__name-input:focus {
  outline: none;
}

.new-porduct-page__container {
  padding: 0 2%;
}


.new-prodcut-page__title {
  font-size: 1.4rem;
  font-weight: 500;
}

.new-product__section-title {
  font-size: 1.2rem;
  width: 400;
  margin: 10px 0;
}

.new-product__description-container {
  display: flex;
  flex-direction: column;
}

.new-product__description-textarea {
  width: 90%;
  height: 10rem;
  margin: 0 auto;
  border-radius: 5px;
}

.new-product__category-span-container label {
  display: flex;
}

.new-product__category-span-container p::first-letter {
  margin-left: .5rem;
  text-transform: uppercase;
  color: rgb(255, 0, 0);
}

.new-product__price-span-container,
.new-product__discount-span-container,
.new-product__shipment-span-container,
.new-product__shipment-span-container {
  display: flex;
  height: 2rem;
  align-items: center;
}

.new-product__price-input,
.new-product__units-input,
.new-product__discount-input {
  width: 7rem;
  margin-left: 5%;
  border-radius: 5px;
  height: 1.5rem;
  border: 1px solid gray;
  padding: 1px 2px 1px 2px;
}

.new-product__condition-span-container form,
.new-product__shipment-span-container form {
  margin-left: 5%;
  margin-top: 0;
  border-radius: 50px;
}

.new-product_create-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.new-product_create-container .MainButton {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;

}

.error {
  color: red;
  margin: 10px 0 0 5%;
}

@media(min-width:800px) {
  .new-prodcut-page__title{
    text-align: center;
    font-size: 1.6rem;
  }
  .NewProdcutPage section {
    width: 60vw;
    margin: auto;
    box-shadow: 0px 10px 10px rgb(245, 245, 245);

  }
  .NewProdcutPage .ArchiveSelector{
    margin: 0px auto;
  }
}