.question--card__container {
    border-bottom: 1px solid #d1d5db;
    /* color: ; */
}
.question--card__container p{
    margin: 5px;
}
.question--card__container h4{
    margin: 10px;
}
.question--card__like-dislike-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7px;

}
.question--card__like-dislike-container span{
    border: 1px solid #d1d5db;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 7px 3px 7px;
    height: 20px;
    margin: 0 5px 5px 0px;
    border-radius: 10px ; 
    /* display: flex;   
    flex-direction: row;
    align-items: center; */

}
.question--card__like-dislike-container span p{
    margin: 0px;
    margin-left: 5px;
    margin-right: 2px;
}
.question--card__like-numbers{
    padding:0 0 3px 0;

}
.MoreSVG_button{
    background-color: #00000000;
    border: none;
    padding: 10px;
    position: absolute;
    right: 0px;
    
}

.question--card__menu-background{
    background-color: rgba(0, 0, 0, 0.514);
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.question--card__container svg{
    padding-bottom: 5px;
}
.question--card__dislike-container .LikeFilledSVG{
    /* rotate: 180; */
    /* fill: red; */
    transform: rotate(180deg);
    padding-bottom: 0px;
}
