.input__container {
  background-color: #fdfcf2;
  border-radius: 5px;
  grid-column: 2/3;
  width: 100%;
  height: 40px;
  transition: width 0.9s ease;
}
.input__container input {
  background-color: #00000000;
  border: none;
  width: max-content;
  height: 100%;
  padding-left: 2.5rem;
  width: calc(100% - 2.5rem);
  font-size: 1.2rem;
  color: dimgrey;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;

}
.input__container input:focus{
    outline: none;
    border: none;
} 
.input__container:focus-within {/* estilo que se aplica cuando el contenedor hijo tiene el foco */
  background-color: #fff;
  outline: none;
  animation: horizontalInputExpancion .5s forwards;
  position: absolute;
}


.input__container .input__icon {
  font-size: 2.0rem;
  position: absolute;
}
@keyframes horizontalInputExpancion {
  0% {
    width: 5vw;
    left: 10%;
    top: 8px;
  }
  100% {
    top: 8px;
    width: 90vw;
    left: 5vw;
  }
}

@media(min-width:800px){
.input__container input {
  width: 70vw;
  max-width: 1200px;
}
.input__container input{
  background-color: rgb(255, 255, 207);
} 
.input__container input:focus{
  background-color: white;
} 

.input__container:focus-within {
  animation: none;
  position: relative;

}


}
