.UserNotificationCardZero {
    width: 100;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    /* color:red; */
    /* margin: 0px 1px; */
    /* background-color: red; */
}

.UserNotificationCardZero__Link{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}

.UserNotificationCardZero__title {
    font-weight: 500;
    text-transform: capitalize; 
    width: 100%;
    margin: 0;
    color: rgb(53, 53, 53);


}

.UserNotificationCardZero__description {
    /* text-transform: capitalize;  */
    width: 100%;
    margin: 0;
    color: rgb(53, 53, 53);
}
.UserNotificationCardZero__description::first-letter{
    text-transform: capitalize; 

}
.UserNotificationCardZero__date{
    position: absolute;
    right: 5px;
    color: rgb(53, 53, 53);

    
}