p{
    margin: 0;
}
a{ /* todos los text que se encuentren dentro de <Link/> */
    text-decoration: none;
    color: rgb(22, 22, 22);
}
.vertical-card__container{
    width: 163px;
    height: 240px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    /* position: relative; */
    
}
.vertical-card__img-container{
    width: 100%;
    text-align: center;
}
.vertical-card__img{
    height: 100px;
    width: 150px;
    object-fit: contain;
    
}
.vertical-card__title{
    margin: 10px 0px;
    height: 2.4em; /* solo se mostraran 2 lineas de texto en el titulo*/
    overflow: hidden; /* oculta el texto que pase el limite de altura*/
}
.vertical-card__price-container{
    display: flex;
    width: 100%;   
}
.vertical-card__old-price{
    color: gray;
    text-decoration: line-through;
}
.vertical-card__price{
    font-size: 1.4rem;
}

.free-shipping-badget{
    margin: 5px 0px;
}
/* .vertical-card__img-container .DisabledFavoriteButton{
    top: 0;
    right: 0;
    padding: 7px;
    position: absolute;    
} */

@media(min-width:800px){
    .vertical-card__container{
        width: 270px;
        height: 370px;
        padding: 10px;
    }
    .vertical-card__img{
        height: 220px;
        width: 280px;
    }
    .vertical-card__title{
        margin: 10px 0px;
        height: 2.4em;
        font-size: 1.2rem;
    }


}