.credit-card-form__container{
    margin-top: 10px;
    background-color: rgb(231, 231, 231);
    border: 1px solid 6969696c;
    border-radius: 5px;
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 9;
    grid-gap: 10px;
}
.credit-card-form__container input{
    width:calc(100% - 10px) ;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    padding: 0px 5px;

}

.credit-card-form__title{
    font-size: 1.4rem;
    font-weight: 500;
    grid-column: 1/6;
    text-align: center;
}
.credit-card-form__owner{
    grid-column: 1/3;
}
.credit-card-form__owner-input{
    grid-column: 1/5;
    grid-row:3/4;
}
.credit-card-form__cvv{
    grid-column: 5/6;
    grid-row: 2/4;
}
.credit-card-form__container .credit-card-form__cvv-input {
    grid-column: 5/6;
    grid-row: 3/4;
    width: 60px;
}
.credit-card-form__number{
    grid-column: 1/6;
}
.credit-card-form__number-input{
    grid-column: 1/6;
    
}
.credit-card-form__expiration-mm{
    grid-column: 1/2;

}
.credit-card-form__expiration-input{
    grid-column: 1/4;
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.credit-card-form__expiration-input  p{
    font-size: 1.5rem;
    padding:0px 5px;
    margin: 0;
}
.credit-card-form__credit-cards-logos {
    display: flex;
    flex-direction: row;
    grid-column: 4/6;
    justify-self: center;
    align-self: center;
}
.credit-card-form__credit-cards-logos img{
    height: 40px;
}
.credit-card-form__confirm-button{
    grid-column: 1/6;
    width: 100%;
    height: 50px;
    background-color: #003cb5;
    border-radius: 5px;
    border: none;
    color: beige;
    font-weight: 300;
    font-size: 1.4rem;

}
