.questions--list__container{
    /* background-color: #1f2937; */
    padding: 40px 10px 0px 10px;
    /* color: ; */
    /* color: #d1d5db; */



}
.questions--list__title{
    margin: 0;
}
p{
    padding-left: 3px;
}
.questions--list__viewMore{
    width: 100%;
    border: none;
    background-color: #00000000;
}
.questions--list__viewMore p{
    margin: 0px;
}
.ExpandMoreSVG{
    width: 100%;
}