.vertical-product__container{
    /* background-color: aliceblue; */
    background-color: #fff;
    padding: 5px;
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px  #bdbdbd;


}

.vertical-product__title-container{
    display: flex;
    flex-direction: row;
}
.vertical-product__title{
    margin: 0px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 400;
}
